@charset "utf-8";
/* CSS Document */

body {
	background:#FFF;
	margin:0;
	padding:0;	
}

#wrapper-login {
	background-image:url(/images/bigrobby/bg.jpg);
	background-repeat:repeat-x;
	background-color:#000;	
	width:100%;
	padding:0;
	margin:0;
}

#wrapper-login .inner {
	width:903px;
	background-image:url(/images/bigrobby/login.jpg);
	padding:310px 0 0 358px;
		
}