* {
    margin: 0px;
    padding: 0px;
}
BODY {
    color: rgb(51, 51, 51); 
    line-height: 16px;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
P {
    margin-top:10px;
    margin-bottom: 5px;
}
A {
    color: #39C; 
    text-decoration: none;
}
A:hover {
    text-decoration: underline;
}

IMG {
    vertical-align: bottom;
}
#container {
    margin: 0px auto;
    width: 760px;
    text-align: left;
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-width: 7px;
    border-left-width: 7px;
    border-right-style: solid;
    border-left-style: solid;
    background-color: rgb(255, 255, 255);
}

#headerWrapper {
    background: #0c427a; /* Old browsers */
    background: -moz-linear-gradient(top, #0c427a 0%, #0e538f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c427a), color-stop(100%,#0e538f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0c427a 0%,#0e538f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0c427a 0%,#0e538f 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #0c427a 0%,#0e538f 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c427a', endColorstr='#0e538f',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #0c427a 0%,#0e538f 100%); /* W3C */
    height: 50px;
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-width: 7px;
    border-bottom-style: solid;
}

#header {
    padding: 67px 50px 0px 0px; text-align: right;
}

#header A {
    color: rgb(255, 255, 255);
}

#fleet-tracker-logo {
    margin: 0px auto;
    width: 760px;
}

#contactus {
    width: 760px;
    height: 22px;
    padding-top: 20px;
    text-align: right;
    margin: auto;
    color: White;
}

#contactus A {
    color: White;
    text-decoration: underline;
}

#contentWrapper {
    width: 480px; float: left;

}
#content {
    padding: 20px;
    height: 450px;
    border-right-color: rgb(224, 224, 224);
    border-right-width: 1px;
    border-right-style: solid;
    vertical-align: bottom;

}
H1 {
    color: rgb(0, 102, 153); padding-bottom: 10px; font-size: 22px; font-weight: bold; line-height: 30px;
}
#content H2 {
    color: rgb(255, 153, 0); font-size: 14px;
}
#content H3 {
    padding: 0px; color: rgb(0, 102, 153); font-size: 13px;
}
#content UL {
    margin: 0px 0px 20px;
}
#content UL LI {
    background: url(../Images/bullet_content_li.gif) no-repeat left top; list-style: none; padding: 0px 0px 5px 15px;
}
.rule {
    margin-bottom: 20px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: solid;
}
.ruleAlt {
    margin-bottom: 20px; border-bottom-color: rgb(224, 224, 224); border-bottom-width: 1px; border-bottom-style: dashed;
}
.callOut {
    padding: 15px 15px 0px; border: 1px solid rgb(224, 224, 224); margin-bottom: 20px; background-color: rgb(242, 242, 242);
}
.contact {

}
#login_Body {
}
.login_Body {
}
.login_Button, #sendMail {
    border: 1px solid #1368c0;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    background: #0c427a;
    font-size: 15px;
    padding: 6px 12px;
    font-family: 'Trebuchet MS',sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 50px;
}
#contentNavWrapper {
    width: 260px;
    float: right;
}
#Box {
    width: 88px; height: 34px;
}
#contentNav {

}
#loginBox {
    padding: 20px 0px 10px 20px; 
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-width: 7px;
    border-bottom-style: solid;
    background-color: rgb(242, 242, 242);
}
#thinairlogo {
    padding: 20px 0px 20px 20px;
    background-image: url(/images/ThinAirLogoPower.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    cursor: pointer;
}
#subContentBox {
    padding: 20px 20px 0px;
}
H2 {
    color: rgb(0, 102, 153); padding-bottom: 10px; font-size: 17px;
}
#footerWrapper {
    clear: both; border-top-color: rgb(224, 224, 224); border-top-width: 7px; border-top-style: solid;
}
#footer {
    padding: 5px;
}

#password-recovery {
    color: #666;
    font-size: 80%;
}

INPUT {
    padding: 2px; 
    color: rgb(51, 51, 51);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}
SELECT {
    padding: 2px;
    color: rgb(51, 51, 51);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}
TEXTAREA {
    padding: 2px;
    color: rgb(51, 51, 51);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}
.formWrapper {
    margin-bottom: 20px; border-top-color: rgb(224, 224, 224); border-right-color: rgb(224, 224, 224); border-left-color: rgb(224, 224, 224); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(242, 242, 242);
}


input[type=text], input[type=password], textarea {
    border: 1px solid #AAA;
    color: #5E5E5E;
    font-size: 16px;
    padding: 5px;
    width: 200px;
}

#contactFormContainer
{
    position:absolute;
    left: 750px;
    float:right;

}
#contactForm
{
    height:450px;
    width: 351px;
    background-color: #EEE;
    display:none;
    border: 2px solid #CCC;
    border-top: 0px;
    padding-left: 30px;
    margin-left: 250px;
}
#contactForm-wrapper
{
}
#contactForm fieldset
{
    border:none;
}
#contactForm label
{
    display:block;
}

#messageSent
{
    color: #069;
    font-size: 120%;
    margin-top: 20px;
    margin-left: 20px;
    display:none;
}